.myButtons{
    -fx-background-radius : 40px;
    -fx-font-variant: small-caps;
    -fx-font-size: 18px;
    -fx-text-transform: uppercase;
    -fx-text-align: center;
    -fx-background-color: rgb(118, 198, 230);
}
.myButtons:hover{
          -fx-background-color:  #4ae4ff;
          }
.logout{
    -fx-border-mode : outset;
    -fx-background-color: rgb(131, 211, 243);
    -fx-background-radius : 10px 0 10px 0;
}

.logout:hover{
       -fx-background-color:  rgb(118, 198, 230);
       }
.myPane{
    -fx-background-image: url("IMG/background1.jpg");
    -fx-background-size: cover;
}